.moneySection1{
    background-image: url(/public/uber-money.jpg);
    /* position: absolute; */
    width: 100%;
    height: 80vh;
     background-repeat: repeat; 
      background-size: auto; 
}

.moneyHeader1{
    position: relative;
    font-size: xxx-large;
    top: 250px;
    left: 50px;
    width: 400px;
    
}

.moneySection2{
    background-color: rgb(236, 236, 236);
    padding: 50px 80px;
}

.moneyContainer1{
    width: 80%;
}

.moneyHeader2{
    font-size: xx-large;
    width: 630px;
    margin-bottom: 30px;
}

.moneyTexts{
    width: 800px;
}

.moneySection3{
    background-color: rgb(255, 255, 255);
    padding: 0 0 40px;
}

.moneyContainer2{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.moneyFlex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 450px;
}

.moneyHeader3{
    font-size: xx-large;
}

.moneySection4{
    background-image: url(/public/skycraper.png);
    background-size: cover;
    height: 80vh;
}

.moneyContainer3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(24, 23, 23);
    width: 500px;
    gap: 15px;
    position: relative;
    top: 150px;
    left: 80px;
}

.moneyHeader4{
    font-size: xx-large;
}

.moneyTexts2{
    color: black;
    font-weight: 500;
}

@media (max-width: 775px) {
    .moneySection2{
        background-color: rgb(236, 236, 236);
        padding: 0;
        width: 100%;
        /* margin: 30px auto; */
        color: rgb(66, 65, 65);
    }

    .moneyHeader1{
        top: 200px;
        
    }

    .moneyContainer1{
        width: 90%;
        margin: auto;
        padding: 50px 0;
    }

    .moneyHeader2{
        width: 90%;
    }
    
    .moneyTexts{
        width: 90%;
    }

    .moneyContainer2{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    /* .moneyContainer3{
        width: 100%;
    } */

    .moneyFlex1{
        width: 90%;
        margin-top: 40px;
        color: rgb(66, 66, 66);
    }

    .mobileTexts{
        width: 80%;
    }
}

@media (max-width: 435px) {
    .moneyBody{
        overflow-x: hidden;
    }
    .moneyHeader1{
        position: relative;
        font-size: xxx-large;
        top: 195px;
        left: 20px;
        width: 100%;
        
    }

    .mobileTexts{
        width: 100%;
    }

    .phoneResize{
        height: 90vh;
    }

    .moneyContainer3{
        top: 100px;
        left: 20px;
        width: 100%;
    }
    
    .moneyHeader4{
        font-size: xx-large;
    }
    
    .moneyTexts2{
        width: 70%;
    }
}

@media (max-width: 385px) {
    .moneyContainer3{
        top: 70px;
        left: 20px;
    }
    .moneyTexts2{
        width: 50%;
    }

    .phoneResize{
        height: 70vh;
    }
}